<script src="https://raw.githubusercontent.com/processing-js/processing-js/v1.4.8/processing.min.js"></script>
<script type="text/processing" data-processing-target="renderproc">
{{ rendercode }}
</script>
<form method="POST">
Welcome {{user}} ^_^ <input type="submit" id="logout" name="logout" value="logout">
{% csrf_token %}
</form>
<html>
<head>
    <title>Procweb</title>
    <h1>
        Processing on web
    </h1>
</head>
<body>
<form method="POST" id="selusrfrm" name="selectuserform">
    Select project : <input id="sel" type="submit" name="select" value="select" />
    {% csrf_token %}
</form>
<form method="POST" id="rendfrm" name="renderform">
    <input type="submit" id="save" name="save" value="save" onclick="javascript:document.renderform.ops.value='save'">
    <input type="submit" id="render" name="render" value="render" onclick="javascript:document.renderform.ops.value='render'">
    <input type="submit" id="clear" name="clear" value="clear" onclick="javascript:document.renderform.ops.value='clear'"><br />
    Project name : <input id="project" name="project" placeholder="Project name" value="{{ data.project }}{{ project }}" />{% if ops == 'projectfail' %} <font color="red">please enter project name</font>{% endif %}{% if ops == 'existed' %} <font color="red">Your project is exists !! savechange ? <input type="submit" name="confirm" id="confirm" value="Confirm save change" onclick="javascript:document.renderform.ops.value='confirmsave'"> or <input type="submit" name="confirm" id="confirm" value="not save just render" onclick="javascript:document.renderform.ops.value='render'"></font>{% endif %}{% if ops == 'successload' %} <font color="green">The project "{{ data.project }}" has been load successfully</font>{% endif %}{% if ops == 'success' %} <font color="green">The project "{{ data.project }}" has been save successfully</font>{% endif %}{% if ops == 'savechange' %} <font color="blue">The project "{{ data.project }}" has been save change successfully</font>{% endif %}
    <br /><h2>Discription</h2><br />
<textarea cols="500 px" rows="300 px" placeholder="Enter discription for this code" id="disc" name="discription" style="width:300px; height:200px; margin:0px;">{{ discript }}{{ data.discription }}</textarea>
    <h2>Your processing code</h2>
    <div>
        <textarea placeholder="Please enter your code here" cols="500 px" rows="300 px" id="text_code" name="text_code" style="width:450px; height:525px; margin:0px;">{{ code }}{{ data.code }}</textarea>
        <br /><h2>Render</h2><br />
        <canvas id="renderproc" width="400" height="505" style="border:1px solid #000000;">
        </canvas>
        <br />
    </div>
<input type="hidden" value="" name="ops">
{% csrf_token %}
</form>
</body>
</html>
