<html>
<head>
<title>***registeration***</title>
</head>
<body>
<form method='POST'>
<h1>sign in</h1><br />
username: <input name="userin" id="userin" placeholder="username" value="{{catch_userin}}" /><font color="FF0000">{% if fail == 'userin' %}**please enter username{% endif %}</font><br />
password: <input type="password" name="passin" id="passin" placeholder="password" value="{{catch_passin}}" /><font color="FF0000">{% if fail == 'passin' %}**please enter password{% endif %}</font><br />
<input type="submit" id="signin">
<input type="hidden" name="signin" value="true">
{% csrf_token %}
</form>

<form method='POST'>
<h1>or Register</h1><br />
username: <input name="userup" id="userup" placeholder="username" value="{{catch_userup}}" /><font color="FF0000">{% if fail == 'userup' %}**please enter username{% endif %}{% if fail == 'sameuser' %}**This user had in database{% endif %}</font><br />
password: <input type="password" id="passup" name="passup" placeholder="password" value="{{catch_passup}}" /><font color="FF0000">{% if fail == 'passup' %}**please enter password{% endif %}</font><br />
nickname: <input name="nickname" id="nickname" placeholder="nickname" value="{{catch_nickname}}" /><font color="FF0000">{% if fail == 'nickname' %}**please enter nickname{% endif %}</font><br />
name: <input name="name" id="name" placeholder="your name" value="{{catch_name}}" /><font color="FF0000">{% if fail == 'name' %}**please enter name{% endif %}</font><br />
lastname: <input name="lastname" id="lastname" placeholder="lastname" value="{{catch_lastname}}" /><font color="FF0000">{% if fail == 'lastname' %}**please enter lastname{% endif %}</font><br />
birth: <input name="birth" id="birth" placeholder="your birthday" value="{{catch_birth}}" /><font color="FF0000">{% if fail == 'birth' %}**please enter birthday{% endif %}</font><br />
<input type="submit" id="signup">
<input type="hidden" name="signup" value="true">
{% csrf_token %}
</form>
</body>
</html>
