<html>
<head>
<title>***Select Project***</title>
<h1>***Select Your Project***</h1>
</head>
<body>
<table border=4>
<tr><td>number</td><td>Project Name</td><td>discription</td></tr>
{% for project in projects %}
<form method="POST" name="proj{{ project.id }}">
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ project.project }}</td>
    <td>{{ project.discription }}</td>
    <td><input type="submit" id="sel_{{ project.id }}" name="select" value="select" onclick="javascript:document.proj{{ project.id }}.ops.value='s_{{ project.id }}'"></td>
    <td><input type="submit" id="del_{{ project.id }}" name="delete" value="delete" onclick="javascript:document.proj{{ project.id }}.ops.value='d_{{ project.id }}'"></td>
<input type="hidden" name="ops" value="">
{% csrf_token %}
</form>
</tr>
{% endfor %}
</table>
<a href='/code' name="back" id="b">Go back</a>
</body>
</html>
